
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
</head>
<body class="container">
    <h1 >Welcome to book store</h1>
    <h3>@DateTime.Now</h3>
    <img src="~/images/Capture.PNG" alt="logo" class="logo" />
</body>
</html>
<script>
    $(document).ready(() => alert("Page Loaded"))
</script>